/* Import link for Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


:root {
  --main: #9681E6;
  --secondary: #86B1F0;
  --lightblue: #84DAD9;
  --lightgreen: #86F0A9;
  --green: #A4E677;
  --btnpurple: #B79CD9;
  --btnoutlinegreen: #D9D89C;
  --palepurple: #D4D1FE;
  --pale2: #E0E7FF;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

i {
  margin: 0 0 0 .25rem;
}

li {
  cursor: pointer;
}

hr {
  color: black;
  border: 1px solid;
}

a {
  color: black;
}

/* Classes */
/* Header and body styling */
.main-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main);
}

.hdr {
  background-color: var(--main);
}

.nav {
  padding: 1rem;
}

/* modifies bulma class  */
.navbar-item {
  display: flex;
  justify-content: space-between;
}

/* constrains size of logo  */
.hdrLogo {
  max-width: 17rem;
  padding-left: 2rem;
}

.header-button {
  display: flex;
  align-items: center;
  padding: 1rem;
}


.header-btn {
  color: black;
  background-color: var(--btnpurple);
  border-color: var(--btnoutlinegreen) solid;
  margin: .5rem;
  padding: 1rem;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-container {
  background-image: url(../img/travel3.jpeg);
  opacity: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-header {
  color: black;
  font-size: 128px;
  font-weight: bolder;
  margin-top: 15rem;
}

/* .text-words {
  background-image: url(../img/clipart.jfif);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */

.img-p {
  color: black;
  font-size: 40px;
  font-weight: bold;
  margin-top: 3rem;
}

.text-div {
  display: flex;
  justify-content: center;
}

.bck-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  margin-top: 5rem;
}

.start-button {
  background-color: var(--main);
  color: black;
  border-color: var(--btnoutlinegreen) solid;
}

/* */


/* API styling */
select:invalid {
  color: gray;
}

.API-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.ins-header {
  color: black;
  font-size: 40px;
}

.ins-p {
  color: black;
  font-size: 25px;
  /* margin: 1rem; */
}

.select {
  border: solid 1px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1rem;
  margin-top: 1rem;
}

.center-btn {
  display: flex;
  justify-content: center;
}

.control-btn {
  background-color: var(--main);
  color: black;
  border-color: var(--btnoutlinegreen) solid;
}

.map-img {
  display: flex;
  justify-content: flex-end;
}

.container-userapi {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.user-api {
  display: flex;
  align-items: center;
  width: 50%;
  flex-direction: column;
}

.subtitle {
  padding: 1rem;
}

.section-api {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maps-list {
  display: flex;
  flex-direction: column;
}

.list-header {
  display: flex;
  justify-content: center;
  color: black;
  font-size: 40px;
}

.user-list {
  border-top: solid black 1px;
  margin-top: 3rem;
}

.card-yelp {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin: 1rem;
  box-shadow: inset 0 1px 5px 2px #9681e6;
  /* background-color: #EAE5FF; */
}

.card-content {
  padding: 1rem;
}

.yelp-btn {
  background-color: var(--main);
}

.yelp-img {
  border: solid 1px black;
}

.card-content {
  display: flex;
  align-items: center;
}

/* Styling for modal */
.modal-header {
  font-weight: 600;
  font-size: larger;
  columns: black;
}

.modal-text {
  color: black;
}

.logoButton {
  height: 100px;
  width: 160px;
  background: url("../img/Logo2.png") no-repeat 10px center;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  border: none;
}

.contact-us-modal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.div-container {
  display: flex;
}

.img-div-modal1,
.img-div-modal2,
.img-div-modal3,
.img-div-modal4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.github-btn {
  background-color: var(--main);
}

.modal-space {
  display: flex;
  justify-content: space-between;
}

.modal-haeder {
  font-size: 36px;
  font-weight: bold;
  color: black;
}

.modal-img {
  padding: 1rem;
  border-radius: 15%;
}

/* .hide {
  display: none;
  transition-delay: 2s;
} */

.modal-img:hover + .hide {
  display: inline-block;
}


/*   */

/* ID's */

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 20px;
}

#sortable li span {
  position: relative;
  margin-left: -1.3em;
}

/* hxw of map plus border and color  */
#map {
  height: 600px;
  width: 600px;
  border: .5rem solid black;
  border-radius: 1rem;
}

#section-results {
  display: none;
}

#bus {
  display: none;
  max-height: 600px;
  overflow-y: scroll;
}

@media screen and (max-width: 1250px) {
  .img-p {
    font-size: 28px;
  }

  .img-header {
    font-size: 90px;
  }
}

@media screen and (max-width: 1150px) {
  #map {
    width: 450px;
    height: 450px;
  }
}

@media screen and (max-width: 1075px) {
  .background-container {
    height: 1150px;
  }
}

@media screen and (max-width: 960px) {
  .background-container {
    height: 1000px;
  }

  .img-p {
    font-size: 26px;
  }

  .img-header {
    font-size: 70px;
  }

  #map {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 935px) {
  #map {
    width: 250px;
    height: 250px;
  }

  .title.is-4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 802px) {
  .container-userapi {
    flex-direction: column;
    align-items: center;
  }

  .title {
    padding: 1rem;
  }

  #map {
    margin-top: 3rem;
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 710px) {
  .main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-button {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .img-p {
    font-size: 20px;
    width: 80%;
  }

  .img-header {
    font-size: 50px;
  }

  .title {
    font-size: 30px;
  }

  #sortable {
    font-size: .7rem;
  }
  .row {
    flex-direction: column;
    align-items: center;
  }
}