/* Import link for Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


:root {
  --main: #9681E6;
  --secondary: #86B1F0;
  --lightblue: #84DAD9;
  --lightgreen: #86F0A9;
  --green: #A4E677;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

hr {
  color: black;
  border: 1px solid;
}

a {
  color: black;
}
/* Classes */
.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--main);
}

.hdr {
  background-color: var(--main);
}

.nav {
  padding: 1rem;
}

.navbar-item { 
  display: flex;
  justify-content: space-between;
}

.header-button {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.about-us-btn {
  color: black;
  background-color: #BBFAB6;
}

.about-us-btn:hover {
  background-color: var(--main);
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-container {
  background-image: url(../img/travel3.jpeg);
  opacity: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.img-header {
  color: black;
  font-size: 84px;
}

.img-p {
  color: black;
  font-size: 40px;
}

.text-div {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.bck-div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1rem;
  margin-top: 5rem;
}

.start-button {
  background-color: #BBFAB6;
  color: black;
}
/* hover body button */
.start-button:hover {
  background-color: var(--main);
}

.modal-header {
  font-weight: 600;
  font-size: larger;
  columns: black;
}

.modal-text {
  color: black;
}
/*   */

/* ID's */
#map {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}