/* Import link for Bulma */
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";


:root{
    --main: #9681E6;
    --secondary: #86B1F0;
    --lightblue: #84DAD9;
    --lightgreen: #86F0A9;
    --green: #A4E677;
}

* {
  box-sizing: border-box;
}

.hdr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--main);
}

.nav {
    /* display: flex; */
    padding: 1rem;
}

.navbar-brand {
    display: flex;
    justify-content: space-between;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-container {
  background-image: url(../img/travel3.jpeg);
  opacity: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}

.bck-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-button {
  background-color: var(--main);
}

/* style this however you like to make it fit in the page. */
#map {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}
